.listIndivide {
  text-align: left; 
  height: 55px;
  line-height: 55px;

  margin: 5px 7px 10px 7px;
  padding: 0px 20px;

  font-weight: 700;

  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(190, 190, 190);
  background: white;
}



#noneAdd {
  background: white;
}
#noneAdd:hover {
  background: rgb(219, 219, 219);
}